body {
background-color: #66ccff;
font-family: "Candara";
}
	
#navigation {
	padding: 0;
	margin: 0;
	}
	
#navigation li {
	display: inline;
	float: left;
	}
	
#navigation a, #navigation a:visited {
	display: block;
	width: 8em;
	border: 3px outset: #ffffff;
	font-family: arial, verdana, sans-serif;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	}
	
h1 {
text-align: center;
}

p {
text-align: center;
}

IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}