body {
	background-color: #aa80ff;
	}

/*CSS for Navigation Bar*/
	
#navigation {
	padding: 0;
	margin: 0;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}
	
#navigation li {
	display: inline;
	float: left;
	}
	
#navigation a, #navigation a:visited {
	display: block;
	width: 12em;
	border: 3px outset #ffffff;
	font-family: Calibri;
	font-size: 1.1em;
	text-align: center;
	text-decoration:none;
	color: #000000; 
	}

#navigation a:hover {
	color: #668cff;
	background-color: #ffffff;
	}

/*CSS for pictures on the home page */

IMG.displayed {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	}

IMG.fakingsick2 {
	width: 400px;
	}

/*Google Form CSS*/

#ss-form {
	font-family: calibri;
	text-align: center;
	}
	
#ss-item ss-navigate {
	text-align: center;
	}

/*Different CSS for headers, paragraphs etc. */
h2 {
	text-align: center;
	font-family: calibri;
	}
	
h3 {
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	}
	
h1 {
	text-align: center;
	font-family: Candy Shop;
	font-size: 3em;
	color: #000000;
	}

p {
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	}
	
p2 {
	font-family: calibri;
	}

#ferris {
	text-align: left;
	}

#instructions > ol {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	}
	
/*Hover Over Picture Effect*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
      left: 500px;   
    background-color: #f9f9f9;
    min-width: 160px;
    float: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}

/* CSS for search box */

<style type="text/css">
	#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput2{
		margin: 0;
		padding: 5px 15px;
		font-family: calibri;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton2 {
		margin: 0;
		padding: 5px 7px;
		font-family: calibri;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #6b00b3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#7300e6), to(#8c1aff));
		background: -moz-linear-gradient(top,  #7300e6,  #8c1aff);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #6b00b3;
		background: -webkit-gradient(linear, left top, left bottom, from(#7300e6), to(#8c1aff));
		background: -moz-linear-gradient(top,  #7300e6,  #8c1aff);
	}
	
/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}







