body {
	background-color: #aa80ff;
	}
	
#navigation {
	padding: 0;
	margin: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	}
	
#navigation li {
	display: inline;
	float: left;
	padding: 0px 0px 0px 25px;
	}
	
#navigation a, #navigation a:visited {
	display: block;
	width: 8em;
	border: 3px outset: #ffffff;
	font-family: calibri ;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	color: #d9d9d9;
	}
	
h1 {
	text-align: center;
	font-family: Candy Shop;
	}

p {
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	}

#ferris {
	text-align: left;
	}

IMG.displayed {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	}

#ss-form-container {
	font-family: calibri;
	}

h2 {
	text-align: center;
	font-family: calibri;
	}
	
h3 {
	text-align: center;
	font-family: calibri;
	font-size: 1.5em;
	}
	
#instructions > ol {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	}

/*css for the navigation bar */
	
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #4540D6;
}

.active {
	background-color:#5BDBF5;
	}



